.about {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background: #fdfffc;

    @include reset();
    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        max-width: 1600px;
        height: 100%;
        min-height: 450px;
        margin: 0 auto;
        padding: 36px;

        @include mobile-paddings();
    }
}

.about__tittle {
    font-size: 36px;
    margin-bottom: 1em;
    color: $blue-dark;

    @include fancy-underline();
}

.about__bio {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .bio__photo {
        margin-right: 24px;
        img {
            width: 100%;
            max-width: 300px;
            height: auto;
            @media (max-width: 768px) {
                max-width: 100%;
                margin-bottom: 24px;
            }
        }
    }
    .bio__text {
        p {
            font-size: 20px;
            line-height: 1.5em;
        }
    }
}

.about__text {
    font-size: 20px;
    line-height: 1.5em;
}
