.feedback {
    background-image: url("../assets/img/feedback-bg.jpg");
    background-position: center;
    background-size: cover;

    @include reset();
    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        min-height: 300px;
        padding: 36px;
        background: rgba(#011627, 0.92);

        @include mobile-paddings();
    }
}

.feedback__tittle {
    font-size: 36px;
    margin-bottom: 1em;
    color: $white-powder;

    @include fancy-underline();
}

.feedback__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    & * {
        width: 100%;
        margin-bottom: 24px;
        padding: 12px;
        border: none;
        background: #465561;
        &:focus {
            background: $white-powder;
        }
        &:last-child {
            width: initial;
            margin-bottom: 0;
        }
    }
    textarea {
        resize: none;
    }
    button {
        @include button-custom($red-rose, 14px, 48px, 28px);
    }
}
