.home {
    background-image: url("../assets/img/home-bg.jpg");
    background-position: center;
    background-size: cover;

    @include reset();
    &__color-overlay {
        background: rgba($blue-dark, 0.92);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 1600px;
        height: 100%;
        min-height: 100vh;
        margin: 0 auto;
        padding: 36px;

        @include mobile-paddings();
    }
}

.home__navbar {
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    color: #fdfffc;
    ul {
        margin: 0;
        padding: 0;

        @include flat-list();
        li {
            margin-right: 24px;

            @include underline($red-rose, 3px);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.home__intro {
    margin-top: auto;
    * {
        font-family: "Alegreya SC";
        margin: 0;
        padding: 0;
        color: $white-powder;
    }
    .intro__hello {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .intro__name {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1em;
        margin-bottom: 16px;
        color: $red-rose;
    }
    .intro__position {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 36px;
    }
    button {
        font-family: "Roboto";

        @include button-custom($red-rose, 14px, 48px, 28px);
    }
}

.home__links {
    margin-top: auto;
    margin-left: auto;
    a {
        font-size: 22px;
        margin-right: 24px;
        color: $white-powder;
        &:last-child {
            margin-right: 0;
        }
    }
}
