.skills {
    background-image: url("../assets/img/skills-bg.jpg");
    background-position: center;
    background-size: cover;

    @include reset();
    &__inner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        min-height: 300px;
        padding: 36px;
        color: $white-powder;
        background: rgba(#011627, 0.92);
        @include mobile-paddings();
        h3 {
            margin-bottom: 24px;

            text-align: center;
        }
    }
}

.skills__tittle {
    font-size: 36px;
    margin-bottom: 1em;
    text-align: center;
    color: $white-powder;

    @include fancy-underline();
}

.skills__skills-list {
    font-size: 20px;

    ul {
        display: flex;
        justify-content: space-between;

        @include flat-list();
    }
}
