.work {
    background: #fdfffc;

    @include reset();

    &__inner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        min-height: 300px;
        padding: 36px;

        @include mobile-paddings();
    }
    &__tittle {
        font-size: 36px;
        margin-bottom: 1em;
        text-align: center;
        color: $blue-dark;

        @include fancy-underline();
    }
}

.jobs-list__item {
    h3 {
        font-size: 24px;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 0.5em;
    }
}
