@mixin reset() {
    * {
        margin: 0;
        padding: 0;
    }
}

@mixin flat-list {
    li {
        display: inline-block;
    }
}

@mixin mobile-paddings() {
    @media (max-width: 768px) {
        padding: 36px 24px;
    }
}

@mixin fancy-underline() {
    .fancy-underline {
        transition: background-size 0.25s ease-in;
        background-image: linear-gradient(120deg, #ff9f1c 0%, #e71d36 100%);
        background-repeat: no-repeat;
        background-position: 0 85%;
        background-size: 100% 0.2em;

        &:hover {
            background-size: 100% 88%;
        }
    }
}

@mixin button-custom($background, $paddings-tb, $paddings-lr, $border-radius: 0) {
    padding: $paddings-tb $paddings-lr;
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    background: $red-rose;

    @include button-ripple($background);
}

@mixin button-ripple($button-color) {
    transition: background 0.5s;
    outline: none;
    background-position: center;
    &:hover {
        background: lighten($button-color, $amount: 10%)
            radial-gradient(circle, transparent 1%, $button-color 1%) center/15000%;
    }
    &:active {
        transition: background 0s;
        background-color: lighten($button-color, 20%);
        background-size: 100%;
    }
}

@mixin underline($color, $thickness) {
    position: relative;
    cursor: pointer;
    &:hover::after {
        position: absolute;
        bottom: -9px;
        left: -8px;
        box-sizing: inherit;
        width: calc(100% + 16px);
        height: $thickness;
        content: "";
        background-color: $color;
    }
}
