@import "./utils/mixins";
@import "./utils/colors";
@import "./utils/typography";

@import "./components/home";
@import "./components/about";
@import "./components/work";
@import "./components/skills";
@import "./components/feedback";

html,
body {
    margin: 0;
    padding: 0;
}
